.quadrado{
    width: 100px;
    height: 100px;
}
.quadrado2{
    width: 100px;
    height: 100px;
}
.azul{
    background-color:blue;
}
.preto{
    background-color:black;
}
.amarelo{
    background-color: yellow;
}
.verde{
    background-color: green;
}